.container-success {
  width: 100%;
  padding: 20px 50px 50px;
  background-color: #d1e7dd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-success .success-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-success .success-title h2,
.container-success .success-title p {
  color: #0f5132;
  text-align: left;
}

.container-success .success-title a {
  color: #0a1b69;
  text-decoration: underline;
}

.container-success .success-logo {
  background-color: rgba(107, 204, 138, 0.4);
  padding: 0 10px;
  border-radius: 50%;
}

.container-success .success-logo i {
  font-size: 5rem;
  color: #5ed885;
  opacity: 1;
  z-index: 1;
}
